body{
    background-color: #d8d8d8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.toolbar{
    padding: 10px;
}
.toolbar span{
    cursor: pointer;
    margin: 10px auto;
    padding: 5px;
}

.App{
    background-color: #fff;
    position: relative;
    margin: 20px auto;
    max-width: 42em;
    box-shadow: 0 1px 2px 0 #646464, 0 1px 5px 0 #646464;
}

.editor{
    border-top: 1px solid #a1a1a1;
    padding: 5px;
}